
:root{
    --grid-cols:1;
    --grid-rows:1;
}

h1{
    font-family:'Times New Roman', Times, serif;
    font-size:48px;
    text-align:center;

}

#slider{
    text-align:center;
    width:150px;
}

main{
    display:flex;
    gap:50px;
}

#control{
    display:flex;
    flex-direction:column;
    gap:30px;
    margin:100px;
    align-items:center;


}

button{
    height:32px;
    width:150px;
    border-radius:5px;
    font-family: "serif";
    font-weight:bold;
    background-color:"white";
    box-shadow:3px 3px 3px "gray";
    border:1px solid gray;


}

#container{
    width:600px;
    height:600px;
    /*overflow:hidden;*/
    display:grid;
    border:0.1px solid gray;
    background:rgb(255, 255, 255);
    grid-template-rows:repeat(var(--grid-rows), 1fr);
    grid-template-columns:repeat(var(--grid-cols), 1fr);
    box-shadow:2px 2px 2px gray;
    
}




.cell{
    /*border:0.1px solid red;*/
    height:auto;
    width:auto;
    /*aspect-ratio:1 / 1;*/
}

.active{
    background:green;
    color: white;
}
/*.cell:hover{
    background:rgb(13, 27, 13);
}*/

